//social media

$whatsapp: #34a853;
$instagram: #c32aa3;
$email: #ea4335;
$location:#4a80f5;

//waves

$light-waves: #A5CCFB; 
$dark-waves:#2F69B1; 

//main colors
$offwhite: darken(white, 10%);
$darkblue: rgb(50,50,60);

$primary-color-gray:rgb(240, 236, 229);
$primary-color-light-blue-transparent:rgba(182, 187, 196, 0.315);
$primary-color-light-blue:rgb(182, 187, 196);
$primary-color-blue:rgb(49, 48, 77);
$primary-color-dark-blue: rgb(22, 26, 48);
$logo-color: #1e334c;
$logo-blue-light: rgb(112, 137, 163);
$logo-blue: #1f344a;

//button animation colors

$bright-pink: #d400d4;
$bright-light-blue: #00ccff; 

// other colors

$secondary-color-light-gray:rgb(243, 248, 246);
$secondary-color-gray:rgba(177, 180, 180, 0.667);
$secondary-color-dark-gray:rgb(156, 160, 160);
$secondary-color-light-blue-transparent:rgba(188, 208, 244, 0.418);
$secondary-color-light-blue:rgb(188, 208, 244);
$secondary-color-purple:rgb(67, 65, 124);
$secondary-color-dark-purple: rgb(50, 59, 110);