@charset "UTF-8";
@font-face{
    font-family: 'adelia';
    src: url(../../assets/fonts/adelia.ttf) format(truetype);
}


@font-face{
    font-family: 'antipastoExtraBold';
    src: url(../../assets/fonts/antipasto-extrabold.ttf) format(truetype);
}
@font-face{
    font-family: 'antipastoExtraLight';
    src: url(../../assets/fonts/antipasto-extralight.ttf) format(truetype);
}
@font-face{
    font-family: 'antipastoRegular';
    src: url(../../assets/fonts/antipasto-regular.ttf) format(truetype);
}


@font-face{
    font-family: 'cathalia';
    src: url(../../assets/fonts/cathalia.ttf) format(truetype);
}

@font-face{
    font-family: 'loverine';
    src: url(../../assets/fonts/loverine.otf) format(opentype);
}

@font-face{
    font-family: 'southland';
    src: url(../../assets/fonts/southland.ttf) format(truetype);
}

@font-face{
    font-family: 'poppinsRegular';
    src: url(../../assets/fonts/Poppins-Regular.ttf) format(truetype);
}

@font-face{
    font-family: 'poppinsBlack';
    src: url(../../assets/fonts/Poppins-Black.ttf) format(truetype);
}

@font-face{
    font-family: 'poppinsItalic';
    src: url(../../assets/fonts/Poppins-Italic.ttf) format(truetype);
}

@font-face{
    font-family: 'poppinsLight';
    src: url(../../assets/fonts/Poppins-Light.ttf) format(truetype);
}






