
%btn-dark {
    color: $primary-color-dark-blue;
    font-weight: 700;
    padding: 0.3rem;
    border-radius: 5px;
    border: 1px solid transparent;
}

%btn-light {
    @extend %btn-dark;
    color: $primary-color-gray;
}

%btn-hover-dark-blue{
        color: rgb(255, 255, 255);
        background-color:$primary-color-dark-blue;
        border: 1px solid $secondary-color-dark-purple;
        box-shadow: 2px 2px 50px rgba(255, 255, 255, 0.521);
        transition: all .5s;
}

%btn-hover-light-border{
        color: white;
        background-color: transparent;
        box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.24);
        transition: all .5s;
    
}

.btn-animated-blue{
  background-color: $dark-waves;
  a{
      color: $primary-color-gray;
  }
}

.btn-small, .btn-medium, .btn-big{
  border-radius: 5px;
  border: 1px solid transparent;
  font-weight: 700;
  padding: 5px;
  font-size: 20px;
}
.btn-medium{
  padding: 5px 12px;
}
.btn-big{
  padding: 5px 24px;
}

//animated border

.btn-animated-border-box{
  background-color: transparent;
  display: inline-block;
  position: relative;
  height:auto;
  text-align: center;
  overflow: hidden;
  padding: 0;
  &:hover{
    transform: scale(1.01);
  }

}

.btn-animated-border-box::before{
  content: '';
  position: absolute;
  inset: -200px;
  background: linear-gradient(0deg, $bright-pink, $bright-light-blue);
  z-index: 50;
  animation: animatedborder 2s ease infinite;
  transition: all 1s;

}

@keyframes animatedborder {
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);} 
}

.btn-animated-border-box::after{
  content: '';
  position: absolute;
  inset: 2px 2.5px 2px 2.5px;
  border-radius: 5px;
  background: transparent;
  transition: 0.5s;
  z-index: 80;
}

.btn-animated-border-content{
  position: relative;
  z-index: 120;  
  color: #ffffff;
  &:hover{
    color: #fff;
  }
}

.btn-animated-border-box:hover::after{
  background: #d6d6d638;
  transition: .4s;
  inset: 2px 2.5px 2px 2.5px;
}

// LIKN WITH TRANSITIONING BORDERS AND BOLD FONT

.link-bold-borders{
  position: relative;
  font-family: 'antipastoRegular';
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  z-index: 10;
  background-color: $logo-blue;
  color: #fff;
  border-radius: 2px;
  border: none;
  padding: 6px 20px;
  transition: .4s;

  &:hover,&:active{
    background-color: transparent;
    color: $logo-blue;
    letter-spacing: 2.5px;
  }
  &::before{
      content: '';
      position: absolute;
      inset: -10px;
      transition: .5s;
      z-index:-20;
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent;


  }
  &::after{
      content: '';
      position: absolute;
      inset: 70% ;
      background-color: #eae8e8;
      transition: .5s;
  }
  &:hover,&:active{
      &::before{
          inset: 0 0;
          border-top: 1.5px solid $logo-blue;
          border-bottom: 1.5px solid $logo-blue;
          z-index: 10;
      }
      &::after{
          inset: -1px -1px;
          z-index: -10;

      }
  }
  &:focus{
    border: none;
  }
}


// FIXED BUTTONS 

.fixed-btn{
  position: fixed;  
  height: 55px;
  width: 55px;
  line-height: 55px;
  border-radius: 50%;
  font-size: 30px;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
  text-align: center;
  cursor: pointer;
  z-index: 1500;  
  right: 15px;  
  &:hover{
    text-decoration: none;
    transition: .3s;
  }

}

.wsp-btn{
  bottom: 30px;
  background-color: #0df053;
  color: #fff;

  .bi-whatsapp::before{
    line-height: 55px;
  }
  &:hover{
    color: #0df053;
    background-color: #fff;
  }
}

.redirect-btn{
  width: auto;
  height: 25px;
  padding-inline: 1rem;
  line-height: 25px;
  font-size: 16px;  
  font-family: 'poppinsRegular';
  border-radius: 15px;
  top: calc($header-height + 5px);
  right: -10px;
  background-color: rgb(31,52,74);
  color: #fff;
  &:nth-child(5){
    top: calc($header-height + 35px);
  }
  &:hover{
    background-color: #fff;
    color: $logo-blue;
    padding-inline-end: 2rem;
    letter-spacing: 1px;
    transition: 0.3s;
  }
}

.fixed-btn.btn-redirect{
  bottom: 100px;
  background-image: url(../../assets/images/logos/logo-wpp-fondo.jpeg);
  background-position: center;
  background-size: cover;

  //expanding text
  &.btn-redirect::before{
    position: absolute;
    content: 'MS PROPIEDADES';    
    inset: 0 0 0 0;
    background-color: transparent;
    color: transparent;
    padding-inline: 1rem;
    line-height: 25px;
    font-size: 16px;  
    font-family: 'poppinsRegular';
    border-radius:  20px 50px 50px 20px;
  } 
  &.btn-redirect:hover::before{
    background-color: $logo-blue;
    color: #fff;
    font-weight: bold;
    inset: 0 0px 0 -100px;
    transition: 0.3s;
  }

  //"MS Propiedades" button
  &.btn-redirect-inmo::before{
    content: 'MS CONSTRUCTORA';    
  } 
  &.btn-redirect-inmo:hover::before{
    background-color: $secondary-color-light-gray;
    color: $logo-blue;
  }

  //changes for "grupo inmobiliario" button
  &.btn-redirect-group{
    bottom: 160px;
  }
  // &.btn-redirect-group::before{
  //   content: 'GRUPO INMOBILIARIO';    
  // } 

  
}