%section_title{
    font-size: 1.8rem;
    font-family: 'antipastoExtraBold';
    text-transform: uppercase;
}

%big_title{
    font-size: 2em;
    font-weight: 900;
}

.title{
    font-weight: bold;
    letter-spacing: 10px;
    font-size: 3em;
    list-style: 1em;
     @include max-width(768px){
        font-size: 2.8em;
     }
}

.topic{
    color: $location;        
    text-shadow:  1px 2px 10px #000;
}
.topic.long-topic{
    letter-spacing: 4.5px;
}
.description{
    font-size: 1.2em;
    text-shadow:  0px 5px 15px #000;
}

.gallery__title{
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-family: "adelia", Helvetica, sans-serif;
    font-weight: bold;
    color: $logo-blue;
    font-size: 3rem;
    letter-spacing: 10px;
    text-shadow: 3px 3px 2px #FFF;
    &.poppins{
        font-family: 'Poppins';
    }
    
}

.poppins__title{
    text-align: center;
    padding-bottom: 1.5rem;
    color: #fff;
    font-family: 'PoppinsRegular';
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}